.Aitem {
    border: 1px solid white;
    border-radius:5px;
    padding:5px 10px;
    margin-bottom:5px;
    cursor:pointer;
}

.Aitem:hover{
    background: #c8a1fc;
    transition: background .3s ease-in-out;
}

.Aitem.error{
    background: #ff0a60;
}

.Aitem.success{
     background: #3eff4c;
 }